<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap-theme.min.css">  
    <script src="/jquery/jquery.min.js"></script>
    <script src="app.js"></script>
</head>
<html>
<body>
    <div class="center">
        <div id="time" class="well"><%= time %></div>
        <button onclick="changeToAlert()">Push me</button>
    </div>
</body>
</html>